/* public-sans-100 - latin */
@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url("../fonts/public-sans-v13-latin-100.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/public-sans-v13-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* public-sans-regular - latin */
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url("../fonts/public-sans-v13-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/public-sans-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* public-sans-500 - latin */
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url("../fonts/public-sans-v13-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/public-sans-v13-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  *{
      box-sizing: border-box;
    }
  html{
    height: 100%;
      box-sizing: border-box;
  }
  
  body{
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: "Public Sans","Arial",sans-serif;
      /* font-weight: 400; */
      overflow-x: hidden;
  }
  main{
      flex-grow: 1;
    }


  h1,
  h2,
  h3,
  a,
  p,
  ul{
    margin: 0;
  }
  ul{
    padding: 0;
  }
  img{
    display: block;
  }

.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ffe162 36%, #FF0000 100%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 10px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: #fff;

}
  .header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

  .header-box__list{
    display: flex;
    align-items: center;
  }


  .header-list__item{
    list-style: none;
    padding: 32px 0 32px 0; 

  }

  .header-list__item:not(:last-child){
    margin-right: 30px;
  }
  .header-list__link{
    padding-bottom: 29px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: #9597A5;
    text-decoration: none;
    border-bottom: 4px solid transparent;    

  }
  .header-list__link:hover{
    color: #2D314D;
    border-image: url("../img/border.svg")20% round;
    /* pointer-events: none; */
  
  }

  .header-open-bg{
    display: none;
  }


  .site-place-link-active{
    display: inline-block;
    padding: 8px 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    text-decoration: none;
    background-color: #fff;

  
  }
.hero{
  position: relative;
}

.hero-site{
  width: 100%;
  position: relative;
  padding: 240px 0 150px 0;
  background-color: #F2F2F2;
  background-image: url("../img/hero-bg-desktop.png");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: calc(50% + 570px) -225px;
}

.hero-box__left{
    max-width: 403px;
}
.hero-box__title{
  /* margin-top: 50px; */
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
}
.hero-box__text{
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
}

.hero__right{
    position: absolute;
    top: -10%;
    left: calc(50% + 744px);

}
.hero-phons{
  width: 678px;
  height: 899px;
  position: absolute;
  top: calc(50% - 247px);
  right:  calc(50% - 78px);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation: 3s infinite;
}

.toggle-btn{
  border: none;
  background-color: transparent;
}

@keyframes example {
  0%,100%{
    transform: translateY(-40px);
  }
  50%{
    transform: translateY(0);
  }
  
}



.why-section{
  padding: 96px 0 94px 0;
  background-color: #F4F5F7;
}
.why-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why-box__title-box{
  max-width: 635px;
}
.why-box__title{
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.why-box__text{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.why-box__list{
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.why-list__item{
  position: relative;
  width: 100%;
  max-width: 255px;
  padding: 112px 0 0 0;
  list-style: none;
}
.why-list__item::before{
position: absolute;
top: 0%;
left: 0%;
content: "";
background-image: url("../img/nonline.svg");
width: 72px;
height: 72px;
}
.why-list__item:nth-child(2):before{
background-image: url("../img/simple.svg");
}
.why-list__item:nth-child(3):before{
background-image: url("../img/fast.svg");
}
.why-list__item:nth-child(4):before{
background-image: url("../img/open.svg");
}
.why-list__item:not(:last-child){
  /* margin-right: 30px; */
}
.why-list__title{
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
}
.why-list__text{
font-size: 16px;
line-height: 26px;
letter-spacing: -0.25px;
color: #9597A5;
}
.why-section{
  padding-top: 100px;
}


@media only screen and (max-width: 1660px) {
  .hero__right{
    position: absolute;
    top: -10%;
    left: calc(50% + 616px);

}   
}

@media only screen and (max-width: 1400px) {
  .hero-site{
    padding: 200px 0 120px 0;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1600px;
    background-position: calc(50% + 630px) -245px;
  }


  .hero__right{
    position: absolute;
    top: -11%;
    left: calc(50% + 490px);

}

.hero-phons{
  width: 600px;
  height: 899px;
  top: calc(50% - 247px);
  right:  calc(50% - 78px);
}
}


@media only screen and (max-width: 1145px) {
  .hero-site{
    padding: 170px 0 70px 0;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1600px;
    background-position: calc(50% + 585px) -245px;
  }


  .hero__right{
    position: absolute;
    top: -15%;
    left: calc(50% + 400px);

}

.hero-phons{
  width: 490px;
  height: 899px;
  position: absolute;
  top: calc(50% - 247px);
  right:  calc(50% - 78px);
}
}
@media only screen and (max-width: 1000px) {
  .hero-site{
    padding: 170px 0 70px 0;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1500px;
    background-position: calc(50% + 585px) -245px;
  }


  .hero__right{
    position: absolute;
    top: -15%;
    left: calc(50% + 325px);

}

.hero-phons{
  width: 400px;
  height: 800px;
  position: absolute;
  top: calc(50% - 247px);
  right:  calc(50% - 78px);
}
.hero-box__left{
  max-width: 403px;
}

.hero-box__title{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 54px;
}
.hero-box__text{
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 25px;
}

}



@media only screen and (max-width: 864px) {
  .hero-site{
    padding: 115px 0 60px 0;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1500px;
    background-position: calc(50% + 585px) -245px;
  }


  .hero__right{
    position: absolute;
    top: -5%;
    left: calc(50% + 285px);

}

.hero-phons{
  width: 350px;
  height: 800px;
  position: absolute;
  top: calc(50% - 247px);
  right:  calc(50% - 78px);
}

  .hero-box__left{
  max-width: 320px;
}
.hero-box__title{
  margin-bottom: 18px;
  font-size: 46px;
  line-height: 52px;
}
.hero-box__text{
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 22px;
}
.why-box__title-box{
  margin: 0 auto;
}
.why-box__title{
  text-align: center;
}

.why-box__text{
  text-align: center;
}
.why-list__item{
  margin: 0 auto;
}
.why-list__item::before{
  left: 35%;
}
.why-list__title{
  text-align: center;
}
.why-list__text{
  text-align: center;
}
}


@media only screen and (max-width: 725px) {

  .header-list__item{
    list-style: none;
    padding: 28px 0 28px 0; 

  }
  
  .hero-site{
    padding: 95px 0 30px 0;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1300px;
    background-position: calc(50% + 485px) -170px;
  }


  .hero__right{
    position: absolute;
    top: 75%;
    left: calc(50% + 200px);

}

.hero-phons{
  width: 290px;
  height: 400px;
  position: absolute;
  top: calc(50% - 247px);
  right:  calc(50% - 78px);
}

  .hero-box__left{
  max-width: 215px;
}
.hero-box__title{
  margin-bottom: 12px;
  font-size: 31px;
  line-height: 35px;
}
.hero-box__text{
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 17px;
}
.site-place-link-active{
  display: none;
}

.site-place-link-active-place{
  display: inline-block;
  padding: 8px 36px;
  font-weight: 500;
}

.why-box__title{
  text-align: center;
}

.why-box__text{
  text-align: center;
}
.why-list__item{
  margin: 0 auto;
}
.why-list__item::before{
  left: 35%;
}
.why-list__title{
  text-align: center;
}
.why-list__text{
  text-align: center;
}
}




@media only screen and (max-width: 555px) {

  
  .hero-site{
    padding: 95px 0 400px 0;
    background-color: #fff;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1000px;
    background-position: calc(50% + 200px) -345px;
  }

  .hero__right{
    position: absolute;
    top: 75%;
    left: calc(50% + -136px);

}

.hero-phons{
    width: 290px;
    height: 400px;
    position: absolute;
    left: 0%;
    top: calc(50% - 247px);
   right:  calc(50% - 78px);
}

  .hero-box__left{
    position: relative;
    bottom: -365px;
    left: calc(50% + -135px);
    max-width: 290px;
  }

.hero-box__title{
  text-align: center;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 44px;
}
.hero-box__text{
  text-align: center;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 28px;
}
.site-place-link-active{
  display: none;
}

.site-place-link-active-place{
  display: inline-block;
  margin-left: 60px;
  padding: 8px 36px;
  font-weight: 500;
}

.why-box__title{
  text-align: center;
}

.why-box__text{
  text-align: center;
}
.why-list__item{
  margin: 0 auto;
}
.why-list__item::before{
  left: 35%;
}
.why-list__title{
  text-align: center;
}
.why-list__text{
  text-align: center;
}

}


@media only screen and (max-width: 510px) {
  .header-box{
    padding: 22px 0 22px 0;
  }

  .header-naw-open .header-list{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 115%;
    margin: 24px;
    background-color: #fff;
    text-align: center;
  }

  .header-naw-open .header-open-bg{
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
  }


  .header-list__item:last-child{
    margin-right: 30px;
  }


  .header-list__item{
    list-style: none;
    padding: 28px 0 28px 0; 

  }
  
  .toggle-btn{
    display: block;
    background-image: url("../img/toggler-open.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
  }
  .header-list{
    display: none;
  }

  .hero-site{
    padding: 95px 0 400px 0;
    background-color: #fff;
    background-image: url("../img/hero-bg-desktop.png");
    background-size: 1000px;
    background-position: calc(50% + 200px) -410px;
  }
.hero-box__left{
  bottom: -310px;
}
  .hero__right{
    position: absolute;
    top: 40%;
    left: calc(50% + -136px);

}

.hero-phons{
    width: 290px;
    height: 400px;
    position: absolute;
    left: 0%;
    top: calc(50% - 247px);
   right:  calc(50% - 78px);
}
}
/* 
.latest-section{
  padding: 80px;
  background-color: #F2F2F2;
}

.lat-box__title{
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.lat-box__list{
  display: flex;
}
.lat-list__item{
  width: 255px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}
.lat-list__item:not(:last-child){
  margin-right: 30px;
}
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .lat-list__bg{
      background-image: url("../img/latest-first@2x.png");
    }
  }

  .lat-list__bg{
    background-image: url("../img/latest-first.png");
    width: 255px;
    height: 200px;
  }



  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .lat-list__item:nth-child(2) .lat-list__bg{
      background-image: url("../img/latest-second@2x.png");
    }
  }

  .lat-list__item:nth-child(2) .lat-list__bg{
    background-image: url("../img/latest-second.png");
    width: 255px;
    height: 200px;
  }
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .lat-list__item:nth-child(3) .lat-list__bg{
      background-image: url("../img/latest-three@2x.png");
    }
  }

  .lat-list__item:nth-child(3) .lat-list__bg{
    background-image: url("../img/latest-three.png");
    width: 255px;
    height: 200px;
  }
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .lat-list__item:nth-child(4) .lat-list__bg{
      background-image: url("../img/latest-four@2x.png");
    }
  }

  .lat-list__item:nth-child(4) .lat-list__bg{
    background-image: url("../img/latest-four.png");
    width: 255px;
    height: 200px;
  }
.lat-list__inner{
  padding: 25px 22px;
}
.lat-list__sm{
  display: inline-block;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}
.lat-list__title{
  margin-bottom: 8px;
  font-weight: 100; 
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
}
.lat-list__text{
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}
.site-footer{
  padding: 49px 0 49px 0;
  background-color: #2D314D;
}
.footer-box{
  display: flex;
  justify-content: space-between;
}
.footer-box__img-box{
  display: flex;
  flex-direction: column;
}

.footer-box__symbol-box{
  margin-top: 55px;
}
.symbol-img:not(:last-child){
  margin-right: 13px;
}
.symbol-img{
  color: #fff;
}
.symbol-img:hover{
  color: #33D35E;
}
.footer-list__item{
  list-style: none;
}
.footer-list__item:not(:last-child){
  margin-bottom: 8px;
}
.footer-list__link{
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-list__link:hover{
  
color: #33D35E;
}
.footer-box__smal{
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 24px;

}
.site-place-link-active{
  display: inline-block;
}
.site-place-link-active:hover{
  background-color: #fff;
  opacity: 0.4;

}
.footer-box__listes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.lat-list__title{
  display: inline-block;
  text-decoration: none;
}
.lat-list__title:hover{
  color:   #30C88F;
}
.site-place-link-active--footer:hover{
  opacity: 0.8;
} */

